# Directories
[Bb]in/
[Bb]uild/
[Cc]ache/
[Oo]bj/
[Oo]ut/

# VS Code
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/tasks.json

# Visual Studio
.vs/
*.vsidx
*.ipch
.suo
*.recipe
*.ilk
*.idb
*.pdb
*.tlog
*.ifc
*.ixx

# IntelliJ (CLion)
.idea/*
#TODO: Add in CLion configurations that'll actually be shared

# Databases
*.db
*.db*
*.sql
*.sqlite
*.sqlite*

# Documents
*.doc
*.docx
*.xls
*.xlsx
*.rtf
*.ppt

# Archives
*.gz
*.gz2
*.gzip
*.gzip2
*.rar
*.tar
*.xz
*.zip

# Images
*.BMP
*.IMG
*.ISO
*.RAW
*.ai
*.apng
*.bmp
*.dds
*.exif
*.exr
*.gif
*.jpeg
*.jpg
*.pic
*.pix
*.png
*.psd
*.ptx
*.pvr
*.raw
*.svg
*.tga
*.tiff
*.webm
*.webp

# Disc Images/Packages
*.cd
*.cdr
*.img
*.iso
*.msi
*.pkg

# Fonts
*.font
*.otf
*.ttf
*.woff
*.woff2

# Video/Audio/Multimedia
*.avi
*.mov
*.mp3
*.mp4
*.mpeg
*.mpg
*.ogg

# Executables/Libraries
*.a
*.app
*.dll
*.dylib
*.exe
*.lib
*.o
*.obj
*.out
*.so

# Operating System Ignored FIles
.DS_Store
.~
.~*
*.~
*.~*
*.bak
*.cache
*.graph
*.lock
*.log
*.old
*.summary
*.temp
*.tmp

# 3D Scenes/Models
*.3ds
*.OBJ
*.STEP
*.blend
*.cad
*.dwg
*.dxf
*.fbx
*.glb
*.glbf
*.glf
*.gltf
*.ipt
*.ma
*.mat
*.max
*.mb
*.mtl
*.osd
*.scene
*.step
*.usd
*.x
*.x3d

# Just to mitigate stupidity
*.gpg
*.pem
*.key
.id_rsa
id_rsa
id_rsa.*
*.pub
*.ca
*.cert
known_hosts
